* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #001f27;
  background-image: url(./images/bg1920.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 992px) {
  body {
    background-image: url(./images/bg1000.png);
  }
}

.container {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.container-main {
  margin-top: 100px;
  margin-bottom: 50px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: rgb(174, 0, 255);
}

.logo {
  filter: drop-shadow(0px 0px 50px #000);
}

.navbar-dark {
  background-color: #002630c0;
}

.card-countdown {
  text-align: center;
  padding: 1rem;
  background-color: #002c38;
  border-radius: 0.5rem;
  filter: drop-shadow(0 0 5px rgb(0, 217, 255));
  text-shadow: 0 0 5px #000;
  border: 1px solid #001f27;
}

.soon {
  text-shadow: 0 0 10px #000;
}

.link-light {
  text-decoration: unset !important;
}

.btn-secondary {
  color: #c2c2c2;
  background-color: #002c38;
  border-radius: 1rem;
  filter: drop-shadow(0 0 5px rgb(174, 0, 255));
  text-shadow: 0 0 5px #000;
  border: 1px solid #001f27;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:focus {
    box-shadow: none;
    outline: 0;
}

.btn-secondary:hover {
  background-color: #002c38;
  border-radius: 1rem;
  filter: drop-shadow(0 0 10px rgb(234, 0, 255));
  text-shadow: 0 0 5px #000;
  border: 1px solid #001f27;
  transition: all 0.3s ease-in-out;
}

.btn-secondary:focus {
  background-color: #002c38;
  border-radius: 1rem;
  filter: drop-shadow(0 0 10px rgb(234, 0, 255));
  text-shadow: 0 0 5px #000;
  border: 1px solid #001f27;
  transition: all 0.3s ease-in-out;
}

.shadow-filter {
  filter: drop-shadow(0px 0px 3px rgb(32, 32, 32));
}

.card-main {
  padding: 0;
  padding-top: 0.5rem;
  color: white;
  background-color: #002630c0;
  border: none;
  border-radius: 1rem;
  text-shadow: 0 0 5px #000;
  border: 3px solid #002730;
}

.btn-primary {
  border: none;
  border-radius: 1rem;
  text-shadow: 0 0 5px #000;
  background: linear-gradient(270deg, #f84008 0%, #04fdfb 100%);
  filter: drop-shadow(0 0 3px rgb(33, 0, 36));
  transition: all 0.2s ease-in-out;
}

.btn-primary:hover {
  filter: drop-shadow(0 0 5px rgb(0, 195, 255));
  transition: all 0.2s ease-in-out;
}

.h-100 {
  height: 100%;
}

.card-title {
  text-align: center;
}

.info-logo {
  max-height: 200px;
}

.info-dump {
  max-height: 100px;
}

.card-info {
  border-radius: 0.25rem;
  border: 1px solid #001f27;
  text-align: center;
  width: 100%;
  background-color: #004949;
}

.card-info .card-title {
  border-bottom: 1px solid #00161b;
  color: rgb(0, 0, 0);
  text-shadow: none;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: #00bdbd;
}

.card-body {
  padding: 0.25rem;
}

.card-main .card-footer {
  background-color: #00171d8f;
  padding: 0.25rem 1rem;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-bottom: 1px solid #000;
}

.input-group-text {
  color: #fff;
  border: 1px solid #001f27;
  border-radius: 1rem;
  background-color: #002c38;
}

.input {
  color: #c2c2c2;
  background-color: #002630c0;
  border: none;
  border-top: 1px solid #001f27;
  border-bottom: 1px solid #001f27;
}

.input:focus {
  color: #fff;
  background-color: #002630c0;
  border: none;
  border-top: 1px solid #001f27;
  border-bottom: 1px solid #001f27;
}

.btn {
  border-radius: 1rem;
}

.accordion-vault {
  border-radius: 0.5rem;
  border: 1px solid #001f27;
  width: 100%;
  background-color: #004949;
}

.accordion-vault .accordion-item {
  border-radius: 0.5rem;
  width: 100%;
  background-color: #004949 !important;
}

.accordion-vault .accordion-button {
  background-color: #004949;
  font-weight: bold;
  color: #e7e7e7;
  display: unset;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
  
}

.accordion-vault .accordion-button:not(.collapsed) {
  background-color: #00bdbd;
  color: #000000;
}

.accordion-vault .accordion-body {
    color: white;
}

.shadow-filter-sm {
    filter:drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.accordion-button:focus {
    box-shadow: none;
}

.inner-block {
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #003838;
    box-shadow: inset 0 0  3px #00141a;
    border: 1px solid #005050;
}
